@import "./*";

body {
  margin: 0;
  padding: 0;
}
/* Header styles */
header.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #141; /* Update with your desired background color */
  padding: 10px 20px;
  color: white;
}

/* Logo styles */
header.main img {
  width: 150px; /* Adjust the logo width as needed */
  height: auto;
}

/* Title styles */
header.main h1 {
  font-size: 24px; /* Adjust the font size as needed */
}

/* Cart button styles */
.cart-button {
  display: flex;
  align-items: center;
}

.cart-button .button {
  color: rgb(255, 255, 255);
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  margin-left: 10px;
  cursor: pointer;
}

.cart-quantity {
  color: white;
  padding: 2px 6px;
  font-size: 14px; 
 }


//
//
.content {
  margin: 0;
  padding: 0;

  display: flex;
  display: -webkit-flex;
  flex-direction: column; // mobile is horizontally laid out
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;

  @media (min-width: 30em) {
    flex-direction: row;  // desktop is vertically laid out
    -webkit-box-orient: horizontal;
  }

  nav {
    padding-bottom: 1em;
    background: #141;
    text-align: center;  // mobile has centered nav
    @media (min-width: 30em) {
      text-align: left; // desktop nav is left-aligned
      padding: 1em;     // and needs more padding
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      @media (min-width: 30em) {
        padding-right: 1em; // give desktop some extra space
      }
      li {
        margin: 0;
        padding: 0.5em;
        text-transform: uppercase;
        letter-spacing: 0.354em;
        a {
          color: #bfb;
          text-decoration: none;
        }
        a:hover {
          background: none;
          color: white;
        }
      }
    }
  }
  main {
    padding: 0.5em;
  }
}
//
.notice, #notice {
  background: #ffb;
  border-radius: 0.5em;
  border: solid 0.177em #882;
  color: #882;
  font-weight: bold;
  margin-bottom: 1em;
  padding: 1em 1.414em;
  text-align: center;
  }
  
  #cart {
    article {
    h2 {
    margin-top: 0;
    }
    background: white;
    border-radius: 0.5em;
    margin: 1em;
    padding: 1.414em;
    @media (min-width: 30em) {
    margin: 0; // desktop doesn't need this margin
    }
    }
    }

    
.depot_form {
  padding: 0 1em;
  h1 {
    font-size: 1.99em;
    line-height: 1.41em;
    margin-bottom: 0.5em;
    padding: 0;
  }
  .field, .actions {
    margin-bottom: 0.5em;
    padding: 0;
  }
  .actions {
    text-align: right;
    padding: 1em 0;
  }
  input, textarea, select, option {
    border: solid thin #888;
    box-sizing: border-box;
    font-size: 1em;
    padding: 0.5em;
    //
    //
    width: 100%;
  }
  label {
    padding: 0.5em 0;
  }
  input[type="submit"] {
    background-color: #bfb;
    border-radius: 0.354em;
    border: solid thin #888;
    color: black;
    font-size: 1.41em;
    font-weight: bold;
    padding: 0.354em 1em;
  }
  input[type="submit"]:hover {
    background-color: #9d9;
  }
  
  #error_explanation {
    background-color: white;
    border-radius: 1em;
    border: solid thin red;
    margin-bottom: 0.5em;
    padding: 0.5em;
    width: 100%;
    h2 {
      background: none;
      color: red;
      font-size: 1.41em;
      line-height: 1.41em;
      padding: 1em;
    }
    ul {
      margin-top: 0;
      li {
        color: red;
        font-size: 1em;
      }
    }
  }
  .field_with_errors {
    background: none;
    color: red;
    width: 100%;
    label {
      font-weight: bold;
    }
    label::before {
      content: "! ";
    }
    input,textarea {
      background: pink;
    }
  }
}