.price {
  font-size: 1.414em;
}
form, div {
  display: inline;
}
input[type="submit"] {
   background-color: #282;
   border-radius: 0.354em;
   border: solid thin #141;
   color: white;
   font-size: 1em;
   padding: 0.354em 1em;
  }
  
input[type="submit"]:hover {
  background-color: rgb(25, 155, 25);
}
